# House pricing Kaggle challenge

Introductory Kaggle challenge to advanced regression techniques, in the example of a house pricing prediction based on given training and testing sets

In [1]:
#importing necessary libreries 
import pandas as pd

In [2]:
# importing the training set into a dataframe 
df = pd.read_csv("train.csv")
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

### Cleaning, Analysis and preparation

In [3]:
# calculating and extracting which values are highly correlated with the sales price thus are better predicter values  
correlated_values = df.corr()
correlated_values.head()
temp = correlated_values[(correlated_values["SalePrice"] > 0.6)] 
high_corr = temp["SalePrice"]
high_corr.drop(labels="SalePrice",axis=0, inplace = True)
predicter_values = []
predicter_values = high_corr.index
predicter_values

/home/chaker/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:3917: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(obj)

Index(['OverallQual', 'TotalBsmtSF', '1stFlrSF', 'GrLivArea', 'GarageCars',
       'GarageArea'],
      dtype='object')

In [4]:
# thus we conclude the dataframe with the necessary variables for our prediction
regr_df=df[predicter_values]
regr_df.insert(loc = 6,column="SalePrice" ,value=df["SalePrice"])
regr_df

,OverallQual,TotalBsmtSF,1stFlrSF,GrLivArea,GarageCars,GarageArea,SalePrice
0,7,856,856,1710,2,548,208500
1,6,1262,1262,1262,2,460,181500
2,7,920,920,1786,2,608,223500
3,7,756,961,1717,3,642,140000
4,8,1145,1145,2198,3,836,250000
...,...,...,...,...,...,...,...
1455,6,953,953,1647,2,460,175000
1456,6,1542,2073,2073,2,500,210000
1457,7,1152,1188,2340,1,252,266500
1458,5,1078,1078,1078,1,240,142125
1459,5,1256,1256,1256,1,276,147500

### Training regression model

In [5]:
from sklearn import linear_model 
import numpy as np 
regr = linear_model.LinearRegression()
# transforming target and predictors into numpyArrays 
x = np.asanyarray(regr_df[predicter_values])
y = np.asanyarray(regr_df["SalePrice"])
# Training model and getting coefficients 
regr.fit(x,y)
regr.coef_

array([2.39970394e+04, 2.43907676e+01, 1.11859135e+01, 4.31228864e+01,
       1.45151932e+04, 1.56639341e+01])

### Preparing test data

In [6]:
df_test = pd.read_csv("test.csv")
df_test.set_index("Id")
df_test

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
1455,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml
1456,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

In [7]:
df_test = df_test[predicter_values]
df_test.dropna(axis = 0, how = "any",inplace = True)
df_test

/home/chaker/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

      OverallQual  TotalBsmtSF  1stFlrSF  GrLivArea  GarageCars  GarageArea
0               5        882.0       896        896         1.0       730.0
1               6       1329.0      1329       1329         1.0       312.0
2               5        928.0       928       1629         2.0       482.0
3               6        926.0       926       1604         2.0       470.0
4               8       1280.0      1280       1280         2.0       506.0
...           ...          ...       ...        ...         ...         ...
1454            4        546.0       546       1092         0.0         0.0
1455            4        546.0       546       1092         1.0       286.0
1456            5       1224.0      1224       1224         2.0       576.0
1457            5        912.0       970        970         0.0         0.0
1458            7        996.0       996       2000         3.0       650.0

[1457 rows x 6 columns]

In [8]:
# making the prediction based on the test set
prediction = regr.predict(df_test)
prediction

array([113457.50326472, 165325.40168124, 157177.04111327, ...,
       151715.3795335 ,  92258.21232847, 240735.6592944 ])

In [13]:
# arranging submission into a dataframe and matching with corresponding ID
submission = pd.DataFrame({"SalesPrice" : prediction})
submission

         SalesPrice
0     113457.503265
1     165325.401681
2     157177.041113
3     179836.887801
4     227017.198181
...             ...
1452   59852.316790
1453   78847.395196
1454  151715.379533
1455   92258.212328
1456  240735.659294

[1457 rows x 1 columns]

### Accuracy measurement