# House pricing Kaggle challenge

Introductory Kaggle challenge to advanced regression techniques, in the example of a house pricing prediction based on given training and testing sets

In [1]:
#importing necessary libreries 
import pandas as pd

In [2]:
# importing the training set into a dataframe 
df_test = pd.read_csv("test.csv")
df = pd.read_csv("train.csv")
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

### Cleaning, Analysis and preparation

In [3]:
df = df.dropna(axis= 1)
df

,Id,MSSubClass,MSZoning,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,8450,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,2,20,RL,9600,Pave,Reg,Lvl,AllPub,FR2,Gtl,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,3,60,RL,11250,Pave,IR1,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,4,70,RL,9550,Pave,IR1,Lvl,AllPub,Corner,Gtl,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
4,5,60,RL,14260,Pave,IR1,Lvl,AllPub,FR2,Gtl,...,0,0,0,0,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,7917,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,8,2007,WD,Normal,175000
1456,1457,20,RL,13175,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,2,2010,WD,Normal,210000
1457,1458,70,RL,9042,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,9717,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,112,0,0,0,0,4,2010,WD,Normal,142125
1459,1460,20,RL,9937,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,6,2008,WD,Normal,147500

## Feature selection 
We will choose features to feed our model based on the correlation with the target value (SalePrice)

In [4]:
# calculating and extracting which values are highly correlated with the sales price thus are better predicter values  
correlated_values = df.corr()
correlated_values.head()
temp = correlated_values[(correlated_values["SalePrice"] > 0.6)] 
high_corr = temp["SalePrice"]
high_corr.drop(labels="SalePrice",axis=0, inplace = True)
predicter_values = []
predicter_values = high_corr.index
predicter_values

C:\Users\Skrzydelka\Anaconda3\lib\site-packages\pandas\core\generic.py:3917: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(obj)

Index(['OverallQual', 'TotalBsmtSF', '1stFlrSF', 'GrLivArea', 'GarageCars',
       'GarageArea'],
      dtype='object')

In [5]:
# thus we conclude the dataframe with the necessary variables for our prediction
regr_df=df[predicter_values]
regr_df.insert(loc = 6,column="SalePrice" ,value=df["SalePrice"])
regr_df

,OverallQual,TotalBsmtSF,1stFlrSF,GrLivArea,GarageCars,GarageArea,SalePrice
0,7,856,856,1710,2,548,208500
1,6,1262,1262,1262,2,460,181500
2,7,920,920,1786,2,608,223500
3,7,756,961,1717,3,642,140000
4,8,1145,1145,2198,3,836,250000
...,...,...,...,...,...,...,...
1455,6,953,953,1647,2,460,175000
1456,6,1542,2073,2073,2,500,210000
1457,7,1152,1188,2340,1,252,266500
1458,5,1078,1078,1078,1,240,142125
1459,5,1256,1256,1256,1,276,147500

### Training regression model

In [6]:
from sklearn import linear_model 
import numpy as np 
regr = linear_model.LinearRegression()
# transforming target and predictors into numpyArrays 
x = np.asanyarray(regr_df[predicter_values])
y = np.asanyarray(regr_df["SalePrice"])
# Training model and getting coefficients 
regr.fit(x,y)
regr.coef_

array([2.39970394e+04, 2.43907676e+01, 1.11859135e+01, 4.31228864e+01,
       1.45151932e+04, 1.56639341e+01])

### Preparing test data

In [7]:
df_test= df_test['Id',predicter_values]
df_test= df_test.dropna(axis=0)
df_test

Empty DataFrame
Columns: [OverallQual, TotalBsmtSF, 1stFlrSF, GrLivArea, GarageCars, GarageArea]
Index: []

In [8]:
# making the prediction based on the test set
prediction = regr.predict(df_test)
prediction

ValueError: Found array with 0 sample(s) (shape=(0, 6)) while a minimum of 1 is required.

In [ ]:
# arranging submission into a dataframe and matching with corresponding ID
submission = pd.DataFrame({'Id': df_test['Id'], 'SalePrice': prediction})
submission

In [ ]:
#exporting submission 
submission.to_csv('submission.csv')

### Accuracy measurement